.jumbotron {
  padding: 25px;
}

.row {
  padding: 0;
  margin: 0;
}

.column {
  padding: 0;
  margin: 0;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.homePrompt {
  text-align: center;
}

.statusArea {
  margin-top: 25px;
}

.square {
  height: 150px;
  width: 150px;
  border: 5px;
  border-style: solid;
  border-color: #222;
  text-align: center;
  vertical-align: middle;
  color: #222;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 96px;
  background-color: #fcf8e3;
}

.leftCol {
  border-left: 0;
}

.rightCol {
  border-right: 0;
}

.topRow {
  border-top: 0;
}

.bottomRow {
  border-bottom: 0;
}



.mark {
  vertical-align: middle;
  padding: 0;
  margin: 0;
  background-color: inherit;
}
